.user-container {
  display: flex;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  border: 1px solid #979797;
  width: 32px;
  height: 32px;
  margin-right: 7.5px;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
  color: #323232;
}