.header {
  border: 2px solid var(--color-grey--light);
  color: var(--color-grey);
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  width: 2.4rem;
  height: 2.4rem;
}
