*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
}

:root {
  --primary-color: #beffc7;
  --color-white: #f8f8f8;
  --color-grey: #979797;
  --color-grey--light: #eeeeee;
  --color-black: #323232;
}
